<h2>Carrinho</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Quantidade</th>
      <th scope="col">Unitário</th>
      <th scope="col">Total</th>
      <th scope="col">Funções</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of listar()">
      <td>{{ item.produto.nome }}</td>
      <td>{{item.quantity}}</td>
      <td>R$ {{ item.valorUnitario }}.00</td>
      <td>R$ {{ item.produto.preco }}.00</td>
      <td>
         <!-- <a (click)="atualizarItem(item.produto, 1)"</a>><i class="fa fa-angle-down"></i></a> 
         <a (click)="atualizarItem(item.produto, 0)"><i class="fa fa-angle-up"></i></a>  -->
         <button type="button" class="btn btn-link" (click)="atualizarItem(item.produto, 1)">
            <i class="fa fa-plus-circle" style="color:black"></i>
            
          </button>
          <button type="button" class="btn btn-link" (click)="atualizarItem(item.produto, 0)">
            <i class="fa fa-minus-circle" style="color:black"></i>
          </button>
          <button type="button" class="btn btn-link" (click)="excluirItem(item.index)">
              <i class="fa fa-trash-o" style="color:black"></i>
            </button>
         <!-- <a (click)="excluirItem(item.index)"><i class="fa fa-trash" aria-hidden="true"></i></a> -->
      </td>      
    </tr>
  </tbody>
  <button type="button" class="btn btn-second">Esvaziar carrinho</button>
</table>

<h5 class="text-right mt-2">Valor Total: R$ {{valorTotal}}.00</h5>

<div class="row">
  <div class="col-sm-11">
    <div class="text-right">
      <button class="btn btn-success" id="singlebutton">Comprar</button>
    </div>
  </div>
</div>
 
