<h2>Formulário (Categoria)</h2>
<form [formGroup]="form" novalidate>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationDefault01">Nome</label>
      <input type="text" formControlName="nome" class="form-control" placeholder="Nome da categoria" required>
    
    </div>
  </div>
  <button class="btn btn-secondary" (click)="save(form.value)" [disabled]="!form.valid" class="btn btn-success">
    Salvar
  </button>
  <button class="btn btn-secondary" [routerLink]="['/category/list']">
    Cancelar
</button>
</form>

