<h2>Icarly</h2>
<p>iCarly foi uma série de televisão americana de comédia de situação criada por Dan Schneider e protagonizada por Miranda Cosgrove.

Exibida originalmente pela rede de televisão Nickelodeon entre 8 de setembro de 2007 e 23 de novembro de 2012, num total de 109 episódios divididos em 7 temporadas.

A história retrata a vida de Carly Shay e Sam Puckett, duas melhores amigas de 13 anos que acidentalmente se tornam estrelas da internet junto com seu produtor técnico Freddie Benson, que decidem criar um programa na Internet com o nome de iCarly.

O programa foi exibido em dezenas de países, suas estreias e reprises continuam com boas audiências. Entre 2009 e 2011, a série foi nomeada para o Emmy Award e arrecadou cinco prêmios Nickelodeon Kids' Choice Awards durante quatro anos consecutivos.</p>